@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<div class="text-center mb-5">
    <h1 class="display-4 fw-bold text-primary">Bienvenue sur ShopEasy</h1>
    <p class="lead mt-3">
        Découvrez des produits de qualité, aux meilleurs prix, sélectionnés spécialement pour vous.
        Profitez d’offres exclusives et d’une expérience d’achat simple, rapide et sécurisée.
    </p>

    <div class="mt-4">

        <a asp-controller="Authentification" asp-action="Inscription"  class="btn btn-primary btn-lg me-3">
            Créer un compte
        </a>

        <a asp-controller="Authentification" asp-action="Login"  class="btn btn-outline-primary btn-lg">
            Se connecter
        </a>
    </div>
</div>

<hr class="my-5" />

<h2 class="text-center mb-4">🔥 Nos Promotions du Moment</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <img src="~/Images/ImageHome1.png" class="card-img-top" alt="Promo 1">
            <div class="card-body text-center">
                <h5 class="card-title">Offre Spéciale -20%</h5>
                <p class="card-text">Profitez d'une réduction exceptionnelle sur nos produits sélectionnés.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <img src="~/Images/ImageHome2.png" class="card-img-top" alt="Promo 2">
            <div class="card-body text-center">
                <h5 class="card-title">Nouveautés 2026</h5>
                <p class="card-text">Découvrez les dernières tendances disponibles dès maintenant.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <img src="~/Images/ImageHome3.png" class="card-img-top" alt="Promo 3">
            <div class="card-body text-center">
                <h5 class="card-title">Livraison Gratuite</h5>
                <p class="card-text">Livraison offerte pour toute commande supérieure à 100€.</p>
            </div>
        </div>
    </div>
</div>