@{
    Layout = "_Layout";
}

<h1>Bienvenue sur eCommerceTP1</h1>

<div style="margin-top: 30px;">
    <a href="/Inscription/Inscription" class="btn btn-primary" style="margin-right: 20px;">
        Créer un compte
    </a>

    <a href="/Connexion/Login" class="btn btn-secondary">
        Se connecter
    </a>
</div>



