################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
*.vsidx
*.suo
/.vs/ProjectEvaluation
/.vs/eCommerceTP1/v17
/.vs/eCommerceTP1/CopilotIndices/17.14.1593.33849
