@{
    Layout = "_Layout";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">

    <div class="card shadow p-4" style="width: 400px;">

        <h2 class="text-center mb-4">Connexion</h2>

        <form method="post" asp-action="Login">

            <div class="mb-3">
                <label class="form-label">Nom d'utilisateur ou Email</label>
                <input type="text" name="Identifier" class="form-control" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Mot de passe</label>
                <input type="password" name="Password" class="form-control" required />
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" name="RememberMe" class="form-check-input" />
                <label class="form-check-label">Se souvenir de moi</label>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Se connecter
            </button>

            <div class="text-center mt-3">
                <a href="/Authentification/Inscription" asp-action="Inscription">Créer un compte</a>
            </div>

        </form>
    </div>

</div>

