@model IEnumerable<eCommerceTP1.Models.Facture>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    decimal totalGeneral = 0;
}

<div class="container mt-5">

    <div class="card shadow-lg p-4">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="fw-bold">Liste des Factures</h2>
        </div>

        <table class="table table-hover align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>Id Facture</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Statut</th>
                    <th>Voir</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var facture in Model)
                {
                    <tr>
                        <td class="fw-bold">#@facture.Id</td>

                        <td>
                            @facture.FactureTime.ToString("dd/MM/yyyy")
                        </td>

                        <td class="text-primary fw-bold">
                            @Math.Round(facture.MontantTotal, 2) $
                        </td>

                        <td>
                            @if (facture.StatutPaiement == "Payée")
                            {
                                <span class="badge bg-success">Payée</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Refusée</span>
                            }
                        </td>

                        <td> <a class="btn btn-outline-secondary btn-sm" asp-controller="Facture" asp-action="FactureDetail" asp-route-id="@facture.Id"> <i class="bi bi-eye"></i> Voir </a> </td>
                    </tr>
                }
            </tbody>

            <tfoot class="table-light">
                <tr>
                    <th colspan="2" class="text-end">Total Général :</th>
                    <th class="text-primary">
                        @Math.Round(Model.Sum(f => f.MontantTotal), 2) $
                    </th>
                    <th colspan="2"></th>
                </tr>
            </tfoot>

        </table>

    </div>

</div>